17 june. taught by divakar kushwaha.

In [14]:
# create first python program
print("welcome to python")
print('python can also support single quatation')

welcome to python
python can also support single quatation

In [15]:
# print 2 line  while taking value
t1="hello world"
t2="python"
print(t1)
print(t2)

hello world
python

In [11]:
# use t1 and t2 in a single line
t1="hello world"
t2="python"
print(t1,t2)

hello world python

In [12]:
#how to display multiple variable with print function
t1="hello world\n"
t2="python"
print(t1,t2)

hello world
 python

In [19]:
#how to add 2 numbers
num1= 10
num2= 5
print("sum of num1 and num2 is: ",num1+num2)

sum of num1 and num2 is:  15

In [10]:
a=4
b=5
print("sum of a and b is: ",a+b)
print("subtraction of a and b is: ",a-b)
print("mulitplication of a and b is: ",a*b)
print("divison of a by b is: ",a/b)

sum of a and b is:  9
subtraction of a and b is:  -1
mulitplication of a and b is:  20
divison of a by b is:  0.8

In [ ]:
#Data Types 18 june
#Numeric = Number (0-9)  -> int
#String  = "Abhishek21@gmail.com"  -> double quotaion
#String  = 'Abhishek21@gmail.com'  -> single quotaion
#Float   = 15.24 -> with decimal
#Boolean = True and False 
#Complex = 3j -> number and character together without quoation

In [4]:
# how to use type function()
a=13
print(type(a))

b="hello"
print(type(b))

c=10.34
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [2]:
# how to use escape character

# how to use \n for newline character 
text= "good evening\nthis is python class."
print(text)

# how to use \b for backspace. it work as backspace key, remove last characcter or space
text= "good evening\b this is python class."
print(text)

# how to use \t for apce between two string
text= "good evening.\t this is python class."
print(text)
#

good evening
this is python class.
good evenin this is python class.
good evening.	 this is python class.

In [6]:
# how to create multiline strings. it can take both single and double quation mark.
text = """ 
my name is abhishek.
this is python class.
divakar sir is teaching python.
its highly useful for data science.
"""
print(text)

my name is abhishek.
this is python class.
divakar sir is teaching python.
its highly useful for data science.

In [3]:
# how to add 2 number user defined. to enter smiley win + >
# so for user defeined, we have to use input function() which will take input from user.
num1 = int(input("enter your first number: "))
num2 = int(input("enter your second number: "))
sum = num1+num2
print("sum of num1 and num2 isðŸ˜Š : ",sum)
print(f"sum  of first and second number is {sum} ")

enter your first number:  4
enter your second number:  3

sum of num1 and num2 isðŸ˜Š :  7
sum  of first and second number is 7

In [10]:
# subtraction
x= int(input("enter first number"))
y= int(input("enter second number"))
print(x-y)

enter first number 6
enter second number 2

4

In [4]:
# multiplicartion
x=int(input("enter frist number"))
y=int(input("enter second number"))
print("muliplication of x and y is: ",x *y)

enter frist number 5
enter second number 7

muliplication of x and y is:  35

In [14]:
# division
x=int(input("enter first number" ))
y= int(input("enter second number: "))
print(x/y)

enter first number 6
enter second number:  2

3.0

18 june

In [16]:
# how to use string data type user define
name= str(input("enter your name"))
email =str(input("enter your email"))
program =str(input("enter your program name "))
city=str(input("enter your city"))
# display the output
print("my name is ",name)
print("my eamil is ",email)
print("my program is ",program)
print("my city is",city)

enter your name da
enter your email asd
enter your program name
enter your city ad

my name is  da
my eamil is  asd
my program is
my city is ad

In [5]:
# string concatenation
name= str(input("enter your name"))
email =str(input("enter your email"))
program =str(input("enter your program name "))
city=str(input("enter your city"))
# display the output
print("my name is ",name + "\nmy email id is ",email + "\nmy program is",program + "\nmy city is ",city)

enter your name asd
enter your email sad
enter your program name  asd
enter your city sda

my name is  asd
my email id is  sad
my program is asd
my city is  sda

In [20]:
# self introduction
name  = input("what is your name: ")
program = input("what course are you doing: ")
city= input("in which city you live: ")
print("my name is",name)
print("i am doing ", program)
print("i live in", city)

what is your name:  abhishek
what course are you doing:  data sceicne
in which city you live:  uttarpradesh

my name is abhishek
i am doing  data sceicne
i live in uttarpradesh

In [17]:
x= 2
x=x+2
print(x)

4

In [6]:
# how to use conditional construct if and else
# how to arrange block indent 
Age = int(input("enter your age "))
if (Age >=18):
    print("you can vote")
else:
    print("you cannot vote")

enter your age  15

you cannot vote

19 june

In [12]:
# to check if its a leap year or not
Leap_year = int(input("enter the year "))
if (Leap_year %4==0):
    print("its a leap year")
else:
    print("its not a leap year")

enter the year  2323

its not a leap year

In [13]:
# to check for even odd number
num = int(input("enter the number: "))
if (num%2==0):
    print("its a even number")
else:
    print("its a odd number")

enter the number:  21

its a odd number

In [16]:
# semseter mark.
mark = int(input("enter your marks: "))
if (mark >=50):
    print("you passed")
else:
    print("you failed")

enter your marks:  50

you passed

In [21]:
# drinking age
age = int(input("enter your age: "))
if (age>=25):
    print("you can drink")
else:
    print("you can't drink")

enter your age:  25

you can drink

In [23]:
# to check if number is positive or negative
number = int(input("enter number: "))
if (number>0):
    print("number is positive")
else:
    print("number is negative")

enter number:  5

number is positive

In [26]:
# how to use conditional construct if-else with the logical operator
username = str(input("enter your username"))
password = str(input("enter your password"))
if (username=="abhishek" and password=="abhishek23"):
    print("you can login")
else:
    print("sorry, you can't login")

enter your username abhishek
enter your password abhishek23

you can login

In [4]:
# make more example like if-else with logical operator like atm, upi pin, 
name = str(input("enter your name"))
pin = int(input("enter your pin"))
if (name=="abhishek" and pin==1923):
    print("you can take out money")
else:
    print("sorry, you can't take put money")

enter your name abhishek
enter your pin 1923

you can take out money

In [8]:
#  with "or"
username = str(input("enter your username"))
mobile = int(input("enter your mobile number"))
if (username=="abhishek" or mobile==99999):
    print("you can login")
else:
    print("sorry, you can't login")

enter your username gbhj
enter your mobile number 678

sorry, you can't login

In [13]:
#  how to create nested if-else means condition inside condition
#  for nested if-else we have to use elif keyword
marks=int(input("enter your marks: "))
if (marks>=90 and marks<100):
    print("excellent")
elif (marks>=80 and marks<90):
    print("very good")
elif (marks>=70 and marks<80):
    print("good")
elif (marks>=60 and marks<70):
    print("decent")
elif (marks>=50 and marks<60):
    print("average")
elif (marks>=40 and marks<50):
    print("poor")
else:
    print("you failed")

enter your marks:  33

you failed

In [32]:
# 2 round of interview. round 1 and round 2 marks must be equal or more than 70, and their average must be >=75
test1=int(input("enter your first test marks: "))
test2=int(input("enter your second test marks: "))
average=(test1 + test2)/2
if(test1>=70 and test2>=70 and average>=75):
    print("you passed the interview")
else:
    print("you failed the interview")

enter your first test marks:  68
enter your second test marks:  75

you failed the interview

In [ ]:
#  or
select =str(input("select your option"))
if(select=="Y" or select=="y"):
    print("you can join")
else(select=="N" or select=="n"):
    print("you cannot join")

In [30]:
# or
alphabet= str(input("enter your alphabet: "))
if(alphabet=="a" or alphabet=="e" or alphabet=="i" or alphabet=="o" or alphabet=="u"):
    print("your alphabet is a vowel")
else:
    print("your word is not a vowel")

enter your alphabet:  g

your word is not a vowel

In [36]:
# how to create string funtion(). there is so casefold for upper.
# string upper
t1="hello"
print(t1.upper())

HELLO

In [37]:
# string lower. its use for shorter data.
t2="hello"
print(t2.lower())

hello

In [ ]:
# string casefold. casefold is use for long amount of data. its faster than lower.
t3="hello. this is a python class"
print(t3.casefold())

In [41]:
#  string capitalize(). it capitalize first letter
t4="welcome to the python class."
print(t4.capitalize())

Welcome to the python class.

In [47]:
# string isupper()
name1="abhishek"
print(name1.isupper())
name2="Abhishek"
print(name2.isupper())
name3="ABHISHEK"
print(name3.isupper())

False
False
True

In [48]:
# STRING IS LOWER()
name1="abhishek"
print(name1.islower())
name2="Abhishek"
print(name2.islower())
name3="ABHISHEK"
print(name3.islower())

True
False
False

In [51]:
#  string istitle(). first letter of every word has to be upper.
txt="Python is easier language to understand"
print(txt.istitle())
txt2="Python Is Easier Language To Understand"
print(txt2.istitle())

False
True

24 june

In [2]:
# Go to file ->save and export noteboook as -> html ->
# how to use strip string. to remove space from beginning and end both side
a=" hi, world "
print(a.strip())

hi, world

In [2]:
# how to replace string method(). most important
b="hello world"
print(b.replace("hello","hi"))

hi world

In [8]:
#  how to use split string method(). split method split into substring
t1= "hello python programmer 23"
print(t1.split())

['hello', 'python', 'programmer', '23']

In [10]:
# many value to mulitple variable
a,b,c = "abhishek", "pankaj", 24
print(a,b,c)

abhishek pankaj 24

In [12]:
a,b,c = "abhishek", "\npankaj", "\n24"
print(a,b,c)

abhishek
pankaj
24

In [13]:
# one value to mulitple variable
a=b=c="abhi"
print(a,b,c)

abhi abhi abhi

In [14]:
a=b=c="\nabhi"
print(a,b,c)

abhi
abhi
abhi

In [19]:
# how to add multiple string
p="Python"
q="is"
r="super"
print(p+q+r)

Pythonissuper

In [21]:
p="Python "
q="is "
r="super"
print(p+q+r)

Python is super

In [22]:
p="Python"
q="is"
r="super"
print("",p +"\n",q + "\n",r)

 Python
 is
 super

In [26]:
# boolean data
ptxt=True
print(ptxt)
print(type(ptxt))

True
<class 'bool'>

In [28]:
# complex data
x=2j
print(x)
print(type(x))

2j
<class 'complex'>

In [29]:
x=1+2j
print(x)
print(type(x))

(1+2j)
<class 'complex'>

In [38]:
# integer values
x1 = 43
y1 = 32
z1 = -3123
print(x1,y1,z1)
print(type(x1), (y1), (z1))

43 32 -3123
<class 'int'> 32 -3123

In [37]:
# float value
x=43.5
y=34.4
z=24
print(type(x), type(y), type(z))

<class 'float'> <class 'float'> <class 'int'>

In [1]:
# how to use relational 
a=int(input("enter first number: "))
b=int(input("enter second number: "))
if(a>=b):
    print("a is bigger or equal than b")
else:
    print("b is bigger than a")

enter first number:  23
enter second number:  3

a is bigger or equal than b

26 june

In [3]:
# or operator 
x=input("enter your name: ")
y=int(input("enter your number: "))
z=int(input("enter your password: "))
if ((x=="abhi" or y==1234) and z==789):
    print("you can login")
else:
    print("wrong detail, you cannot login")

enter your name:  32
enter your number:  23
enter your password:  3

wrong detail, you cannot login

In [8]:
#  how to convert one data type to another data type. we cant change complex number into other type
n1=12
n2=2.5
n3=3

# convert from int to float
a=float(n1)
print(a, type(a))

# convert from float to int
b=int(n2)
print(b, type(b))

# convert from int to complex
c=complex(n3)
print(c, type(c))

12.0 <class 'float'>
2 <class 'int'>
(3+0j) <class 'complex'>

In [12]:
# create function. to define the function we use def keyword
def abhi():
    print("this is a function example")
    print("function is a part of python programming")
# call the function for execution
abhi()

this is a function example
function is a part of python programming

In [4]:
# function 
def add():
    print(2+2)
def sub():
    print(4-3)
def multi():
    print("this is a multiplication function: ",3*4)
def divi():
    print(10//2)
add()
sub()
multi()
divi()

4
1
this is a multiplication function:  12
5

27 june (function)

In [5]:
# user defined function()
def add ():
    n1=int(input("enter first number: "))
    n2=int(input("enter second number: "))
    sum=n1+n2
    print("sum is =",sum)

def sub():
    n1=int(input("enter first number: "))
    n2=int(input("enter second number: "))
    sub=n1-n2
    print("sub is =",sub)
    
def mul():
    n1=int(input("enter first number: "))
    n2=int(input("enter second number: "))
    mul=n1*n2
    print("multi is= ",mul)

def div():
    n1=int(input("enter first number: "))
    n2=int(input("enter second number: "))
    div=n1/n2
    print("division is= ",div)

# call all function for execution()
add()
sub()
mul()
div()

enter first number:  2
enter second number:  3

sum is = 5

enter first number:  4
enter second number:  5

sub is = -1

enter first number:  6
enter second number:  7

multi is=  42

enter first number:  8
enter second number:  8

division is=  1.0

In [8]:
# enter id, name , course, teacher name. make all function . add concatenation
def id():
    id=int(input("enter your id: "))
    print("my student id is ",id)

def name():
    name=input("enter your name: ")
    print("my name is ",name)

def teacher():
    teacher=input("enter your teacher name: ")
    print("my teacher name is ",teacher)

def course():
    course=input("enter your course name: ")
    print("i am doing ",course)

id()
name()
teacher()
course()
#

enter your id:  1234

my student id is  1234

enter your name:  sdfg

my name is  sdfg

enter your teacher name:  sdfgh

my teacher name is  sdfgh

enter your course name:  fghj

i am doing  fghj

In [15]:
# for employee details
def id():
    id=int(input("enter your id: "))
    print("your id is ",id)

def name():
    name=input("enter your name: ")
    print("your name is: ",name)

def job_title():
    job_title=input("enter your job title")
    print("your job title is: ",job_title)

id()
name()
job_title()

enter your id:  234

your id is  234

enter your name:  sdf

your name is:  sdf

enter your job title sdf

your job title is:  sdf

In [16]:
# how to use return keyword with parameter function()
def abhi(a):
    return 4 + a
print(abhi(2))
print(abhi(3))
print(abhi(4))

6
7
8

 1 july (list)

In [11]:
#  list
# concatenation (+)
name=["abhishek", "pankaj", "rahul"]
number=[3,6,5]
print(name+number)

# repeat (*)
number2=[3,4,5]
b=number2*2
print(b)

#  range (:)
number3=[1,2,3,4,5,6,7,8,9]
a=number3[1:5]
print(a)

['abhishek', 'pankaj', 'rahul', 3, 6, 5]
[3, 4, 5, 3, 4, 5]
[2, 3, 4, 5]

In [10]:
# how to use standard data type ->list, tuple, set and dict
# list
name=["abhishek","pankaj","rahul"]
print(name)

['abhishek', 'pankaj', 'rahul']

In [17]:
# type 
name=["abhishek","pankaj","rahul"]
print(type(name))

<class 'list'>

In [16]:
# index number in list
name=["abhishek","pankaj","rahul"]
print(name[2])

rahul

In [15]:
# length in list
name=["abhishek","pankaj","rahul"]
print(len(name))

3

In [21]:
#  append method in list. it always add element at end of the index
name=["abhishek","pankaj","rahul"]
name.append("rohit")
print(name)

['abhishek', 'pankaj', 'rahul', 'rohit']

In [19]:
# insert() method ise use to add element at selected index number like index[2]
name=["abhishek","pankaj","rahul","rohit"]
name.insert(2,"neha")
print(name)

['abhishek', 'pankaj', 'neha', 'rahul', 'rohit']

In [20]:
# pop method () in a list. it always delete value from end of the index number
name=["abhishek","pankaj","rahul","rohit"]
name.pop()
print(name)

['abhishek', 'pankaj', 'rahul']

In [37]:
# pop method with index number for deleteing the selected element. pop only take 1 value
name=["abhishek","pankaj","rahul","rohit","kunal"]
name.pop(2)
name.pop(3)
print(name)

['abhishek', 'pankaj', 'rohit']

In [1]:
#  remove method. only remove first match value. rahul in this case
name=["abhishek","pankaj","rahul","rohit","kunal","rahul"]
name.remove("rahul")
print(name)

# to remove rahul both time, use while loop
name2 = ["abhishek", "pankaj", "rahul", "rohit", "kunal", "rahul"]
while "rahul" in name2:
    name2.remove("rahul")
print(name2)

# another way
name3 = ["abhishek", "pankaj", "rahul", "rohit", "kunal", "rahul"]
name3 = [n for n in name3 if n != "rahul"]
print(name3)

['abhishek', 'pankaj', 'rohit', 'kunal', 'rahul']
['abhishek', 'pankaj', 'rohit', 'kunal']
['abhishek', 'pankaj', 'rohit', 'kunal']

In [47]:
# sort method
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
name.sort()
print(name)

['abhishek', 'kunal', 'pankaj', 'rahul', 'rohit']

In [45]:
# reverse list
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
name.reverse()
print(name)

['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']

In [55]:
# slicing. it return the range of character value.
name = ["abhishek", "pankaj", "rahul", "rohit", "kunal"]
print(name[1:2])
print(name[0:4])
print(name[0:-3])
print(name[::-1])   # to reverse list without using reverse function

['pankaj']
['abhishek', 'pankaj', 'rahul', 'rohit']
['abhishek', 'pankaj']
['kunal', 'rohit', 'rahul', 'pankaj', 'abhishek']

In [40]:
# clear() method. to clear all
name=["abhishek","pankaj","rahul","rohit","kunal"]
name.clear()
print(name)

[]

In [3]:
num=[2,54,65,34,52,76]
print(sum(num))      # sum fucntion()
print(max(num))      # max function()
print(min(num))      # print(min(num))
print(len(num))      #len function()

283
76
2
6

3 july (tuple)

In [29]:
# TUPLE. tuple are immutable
tup1=("physics","chemsitry",1997,2023)
tup2=(1,2,3,4,5)
print(tup1[0])
print(tup2[1:5])

physics
(2, 3, 4, 5)

In [58]:
t1=(1,2,3)
print(len(t1))    # length

t2=(1,2,3)
t3=(4,5,6)
print(t2+t3)      # concatenation

t4=("hi! ")
print(t4 *4)      #repitition

t5=(5,4,3,6)
print(3 in(t5))   # membership

t6=(3,4,6,8)
for x in t6:
    print(x, end="")      #iteration (loop)

3
(1, 2, 3, 4, 5, 6)
hi! hi! hi! hi!
True
3468

In [2]:
# tuple. tuple do not support clear, append, sort, pop, insert, del, update, search
tuple=("abhishek","pankaj","rahul","rohit","kunal")
print(tuple)
print(type(tuple))     # print type of tuple
print(tuple[3])        # print value at index 3
print(len(tuple))

('abhishek', 'pankaj', 'rahul', 'rohit', 'kunal')
<class 'tuple'>
rohit
5

In [36]:
#  create set data type. set always display random values. it doesnt have index number so remove random value
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
print(set1)
print(type(set1))
# print(set1[3])    it will show error becuase set dont have index number

{2, 3, 5, 'pankaj', 'abhishek'}
<class 'set'>

In [25]:
# clear in set
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.clear()
print(set1)

set()

In [26]:
# pop
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.pop()
print(set1)

{3, 5, 'pankaj', 'abhishek'}

In [2]:
# pop with index number. becuase it doesn't have index number
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.pop(1)
print(set1)

TypeError: set.pop() takes no arguments (1 given)

In [30]:
# remove
set1= {2,5,3,"abhishek","pankaj","pankaj",5}
set1.remove("abhishek")
print(set1)

{2, 3, 5, 'pankaj'}

8 july (dictionary)

In [13]:
# dictionary. comes in key and pair value
stu={
    "id": 1,
    "name": "abhishek",
    "email": "abhishek@gmail.com",
    "program": "data science",
    "sem": 1,
    "year": 2024,
    "date of joining": "2024-05-23"
}
print(stu)                      # to see all key and value
print(stu["id"])                # to see single key value
print(stu["id"]), stu["name"]   # to see 2 key value
print(len(stu))                 # to see length
print(type(stu))                # to see type

{'id': 1, 'name': 'abhishek', 'email': 'abhishek@gmail.com', 'program': 'data science', 'sem': 1, 'year': 2024, 'date of joining': '2024-05-23'}
1
1
7
<class 'dict'>

In [54]:
# value and key method to check in a dictionary 
stu={
    "id": 1,
    "name": "abhishek",
    "email": "abhishek@gmail.com",
    "program": "data science",
    "sem": 1,
    "year": 2024
}
a=stu.values()
print(a)
b=stu.keys()
print(b)

dict_values([1, 'abhishek', 'abhishek@gmail.com', 'data science', 1, 2024])
dict_keys(['id', 'name', 'email', 'program', 'sem', 'year'])

In [14]:
# example of dicitonary
emp={
    "id": 1,
    "name": "pankaj",
    "email": "pankaj@gmial.com",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000,
    "year of joining" : "2023-05-22"    
}
print(emp)
a=emp.keys()
print(a)
b=emp.values()
print(b)
print(emp["name"]), emp["salary"]

{'id': 1, 'name': 'pankaj', 'email': 'pankaj@gmial.com', 'city': 'dehradun', 'designation': 'accountant', 'salary': 50000, 'year of joining': '2023-05-22'}
dict_keys(['id', 'name', 'email', 'city', 'designation', 'salary', 'year of joining'])
dict_values([1, 'pankaj', 'pankaj@gmial.com', 'dehradun', 'accountant', 50000, '2023-05-22'])
pankaj

(None, 50000)

In [20]:
# item method in a dictionary
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000,
}
a=emp.items()
print(a)

dict_items([('id', 1), ('name', 'pankaj'), ('city', 'dehradun'), ('designation', 'accountant'), ('salary', 50000)])

In [21]:
# add new key and values in dic. it only add 1 key and value at a time
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
}
emp["country"]=["india"]
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'country': ['india']}

In [27]:
# pop method to delete key and value
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000
}
a=emp.pop("city")
print(emp)

{'id': 1, 'name': 'pankaj', 'designation': 'accountant', 'salary': 50000}

In [29]:
# update method to update key and value
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000  
}
emp.update({"salary":39999})
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'designation': 'accountant', 'salary': 39999}

In [33]:
# clear method in a disc
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000,
}
emp.clear()
print(emp)

{}

In [36]:
# delete method. del is a operator not a fucntion, because we dont use parantheisis in it
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000  
}
del emp["salary"]
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'designation': 'accountant'}

In [40]:
#  popitem method. remove last value
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "designation": "accountant",
    "salary" : 50000  
}
emp.popitem()
print(emp)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'designation': 'accountant'}

In [59]:
# try all dic funtion, update, delete, pop, popitem, 
emp={
    "id": 1,
    "name": "pankaj",
    "city": "dehradun",
    "salary" : 50000  
}
print(emp)
print(type(emp))
print(len(emp))

emp.popitem()
print(emp)

a=emp.keys()
print(a)
b=emp.values()
print(b)


# del emp
# c = emp.update["name"]=["rohit"]
# print(c)

{'id': 1, 'name': 'pankaj', 'city': 'dehradun', 'salary': 50000}
<class 'dict'>
4
{'id': 1, 'name': 'pankaj', 'city': 'dehradun'}
dict_keys(['id', 'name', 'city'])
dict_values([1, 'pankaj', 'dehradun'])

9 july (for loop)

In [65]:
# # LOOPS
# -----------------------------------------------------------
# Unarry(single) operator
# a). ++ pre-increment (++a) and post-increment(a++)
# b). -- pre-decrement (--a) and post-decrement(a--)

#  -----------------------------------------------------------                                       
# for loop
# input 
# int a 
# for (a=1, a=<3, a++):
#     print("hi")

# output
# hi
# hi
# hi
# -------------------------------------------------------------
# while loop  (while loop run as long as condition is true, do while loop run atleast one time, even if condition is false)
# a = 1
# whille(a<=3)
# a++

In [4]:
# for loops. we use in keyword. in keyword show list of values
name="abhi"
for i in name:
    print(i)

a
b
h
i

In [7]:
# range function using for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
# range function using for loop
for i in range(5):
    print(i+1)

1
2
3
4
5

In [1]:
#print name using for loop 
name="abhishek"
for i in range(3):
    print(name)

abhishek
abhishek
abhishek

In [20]:
# print name without loop
print("\n abhishek" * 3)

 abhishek
 abhishek
 abhishek

In [1]:
#  print name without loop
print("""abhishek """ * 5)

abhishek abhishek abhishek abhishek abhishek

In [19]:
# dislplay number without loop
print("\n5" * 3)

5
5
5

In [26]:
# display numbers without using loop 
num=range(1,11)
print(*num)

1 2 3 4 5 6 7 8 9 10

In [31]:
# mulitple of 2 using for loop
n=int(input("enter the number: "))
for i in range(1,11):
    print(f"{n} * {i} is {n*i}")

enter the number:  7

7 * 1 is 7
7 * 2 is 14
7 * 3 is 21
7 * 4 is 28
7 * 5 is 35
7 * 6 is 42
7 * 7 is 49
7 * 8 is 56
7 * 9 is 63
7 * 10 is 70

In [7]:
#  while loop
var=5
while var >0:
    print(var)
    var=var-1
    print("this is in reverse")

5
this is in reverse
4
this is in reverse
3
this is in reverse
2
this is in reverse
1
this is in reverse

In [2]:
# table using while loop
n=int(input("enter number: "))
i=0
while i in range(10):
    i+=1
    print(f"{n} * {i} is {n*i}")

enter number:  3

3 * 1 is 3
3 * 2 is 6
3 * 3 is 9
3 * 4 is 12
3 * 5 is 15
3 * 6 is 18
3 * 7 is 21
3 * 8 is 24
3 * 9 is 27
3 * 10 is 30

In [11]:
# table using while loop
n=int(input("enter number: "))
i=1
while (i<=10):
    print(n*i)
    i+=1

enter number:  4

4
8
12
16
20
24
28
32
36
40

10 july (break and continue)

In [ ]:
# break
n=1
while(n<10):
    print(n)
    if(n==3):
        break
    n=n+1

In [14]:
# continue. it was not working , i had to use chatgpt. its now using increment 2 times to avoid infinite loop
n=1
while(n<10):
    if(n==3):
        n+=1
        continue
    print(n)
    n+=1

1
2
4
5
6
7
8
9

In [13]:
# break
i=1
while i<10:
    print("abhi")
    if(i==5):
        break
    i=i+1

abhi
abhi
abhi
abhi
abhi

In [16]:
# this is from code with harry. learn from it
# break and continue. # print i can be written after for and break both.
# break
for i in range(10):
    # print(i)     # output from 0 to 6
    if i==6:
        break   #exit loop here
    print(i)               # output from 0 to 5
print("-----------continue-------------")
# continue
for j in range(10):
    print(j)
    if(j==4):
        continue

0
1
2
3
4
5
-----------continue-------------
0
1
2
3
4
5
6
7
8
9

In [8]:
#continue 
n = 1
while n <= 10:
    if n == 3:
        n += 1  # Increment n to avoid infinite loop
        continue
    print(n)
    n += 1

1
2
4
5
6
7
8
9
10

In [20]:
# how to crete nested for loop using list
colors=["red", "green"]
for color in colors:
    print(color)
    for i in color:
        print(i)

red
r
e
d
green
g
r
e
e
n

15 july (for loop)

In [9]:
# print first 10 integer and their cube usign for loop. 
n=1
for n in range(1,11):
    print(n, n*n*n)
    n+=1

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

In [6]:
# print first 10 integer and their square usign while loop.
n=1
while n<=10:
    print(n, n*n)
    n+=1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [20]:
# patterns. 
n=5
for i in range(n):
    for j in range(n-i-1):       # this is for row
        print("", end=" ")       # giving space inside end="" will change the output
    for j in range(i+1):         # this is for column
        print("*", end=" ")      # giving space inside end="" will change the output
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [24]:
# now reverse the above 
n=5
for i in range(n):
    for j in range(i):
        print("", end=" ")  
    for j in range(n-i):
        print("*", end=" ")    
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [29]:
# join above 2. merge the above 2 code together
n=5
for i in range(n):
    for j in range(n-i-1):       
        print("", end=" ")       
    for j in range(i+1):         
        print("*", end=" ")     
    print()

n=5
for i in range(n):
    for j in range(i):
        print("", end=" ")  
    for j in range(n-i):
        print("*", end=" ")    
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [15]:
# pattern from youtube class 1.
n=5
for j in range(n):
    for i in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [17]:
# pattern from youtube class 2.
# increasing order
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [18]:
# pattern from youtube class 3.
# decreasing order
n=5
for i in range(n):
    for j in range(i,n):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [1]:
# pattern. increasing order
n=5
for i in range(n):
    for j in range(i,n):
        print("",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

18 july (oops theory)

In [ ]:
''' OOPS (object oriented programming system)
object is a instance of class.
object = class,  class = object
there are 3 property for objects-
1-State, 2-Behaviour, 3-Identity.  (SBI)

PILLARS OF OOPS-
1-Polymorphism, 2-Inheritance, 3-Abstraction, 4-Encapsulation.

1. POLYMORPHISM = poly (many) + morphism (form) = many form
polymorphism types -> 
a) Function Overloading or Static -> function name will be same but no of parameter will be different. for eg:-

def abhi(int, float, str)
    print("hey")

def abhi(int, str):
    print("welcome")

def abhi(float, int):
    print("")

b) Function Overriding or Dynamic -> 

2. INHERITANCE
a) Parent class  (super class)
b) Child class   (sub class)

Types of inheritance (Python do not support type) -> Single Level and Multi Level.
advantage of Inheritance - reuse the object
class parent
class child

3. ABSTRACTION - showing essential things
4. ENCAPSULATION - Not showing essential things
'''

22 July (class, super)

In [8]:
# create class and object of the class
# for creating class we have to use class keyword
# __init__()method
# self-use with variable and attributes 
class Employee:
    def __init__(self, E_id, E_name, E_salary):
        self.E_id=E_id
        self.E_name=E_name
        self.E_salary=E_salary

# how to create object of the class.
E=Employee("E001", "abhishek", 6873)
print(E.E_id, E.E_name, E.E_salary)

E001 abhishek 6873

In [12]:
# STUDENT CLASS
class Student:
    def __init__(self, s_id, s_name, s_course, s_fees):
        self.s_id=s_id
        self.s_name=s_name
        self.s_course=s_course
        self.s_fees=s_fees

s=Student("S001", "abhishek", "data-sceince", 3244)
print(s.s_id, s.s_name, s.s_course, s.s_fees)

S001 abhishek data-sceince 3244

In [15]:
# Super() mehtod. it will help, when child class inherit the property from parent class 
class Car:
    def __init__(self, name, speed, color, series):
        self.name=name
        self.speed=speed
        self.color=color
        self.series=series
        
    def display(self):
        print(self.name, self.speed, self.color, self.series)
# create a child class
class Audi(Car):
    def __init__(self, name, speed, color, series):
            super().__init__(name, speed, color, series)
C1=Audi("Audi", "200KM/H", "Red", "A4")
C1.display()

Audi 200KM/H Red A4

In [1]:
#super method example 
class Data_science:
    def __init__(self, subject, duration, teacher):
        self.subject = subject
        self.duration = duration
        self.teacher = teacher

    def display(self):
        print(self.subject, self.duration, self.teacher)

class Python(Data_science):  # Inherit from Data_science
    def __init__(self, subject, duration, teacher):
        super().__init__(subject, duration, teacher)

D = Python("Python", "3-Month", "Divakar Kushwaha")
D.display()

Python 3-Month Divakar Kushwaha

23 JULY (polymorphsim)

In [18]:
# Polymorphism
txt="hello people"
print(len(txt))

# in this its a dictinary, but it has 2 different data type (int, character)
dic={
    "name":"abhishek",
    "city":"up",
    "salary":4345,
}
print(dic)
print(dic.keys())
print(dic.values())
print(dic.items())
print(dic["city"])

12
{'name': 'abhishek', 'city': 'up', 'salary': 4345}
dict_keys(['name', 'city', 'salary'])
dict_values(['abhishek', 'up', 4345])
dict_items([('name', 'abhishek'), ('city', 'up'), ('salary', 4345)])
up

In [23]:
# polymorisphm
class Car:
    def __init__(self, brand , model):
        self.brand=brand
        self.model=model

    def abhi(self):
        print("you can drive the car")

class Boat:
    def __init__(self, brand, model):
        self.brand=brand
        self.model=model

    def abhi(self):
        print("you can drive the Boat")

class Plane:
    def __init__(self, brand, model):
        self.brand=brand
        self.model=model

    def abhi(self):
        print("You can fly the Plane")

#  create a object of the class for each of the them
c1=Car("Audi","A4")
b1=Boat("Porshce", "911")
p1=Plane("Air-India", "A-300")

for x in (c1, b1, p1):
    x.abhi()

you can drive the car
you can drive the Boat
You can fly the Plane

26 JULY (file handling)

In [ ]:
# FILE HANDLING
"""
2 types of file mode - 1) R (to read file) and 2) W (to write file). 
to read single line you have to use readline function()
to read the mulitline you have to use read function()
to open the file you have to use open funtion()
to close the file you have to use close funtion()
to read the file you have to use read function() 
to write the file you have to use write function()
"""

In [11]:
# IMPORT FILE HANDLING. python file handling
# go to upload new file -> upload "python file handling" file 
# another method to open and read the file.
# fh = file handling
fh=open("E:\ducat\python\python file handling.txt")
print(fh.readline())

hey world!

In [12]:
# readline(). only show 1 line
fh=open("python file handling.txt")
print(fh.readline())

hey world!

In [11]:
# read(). show every line.
# after uploading file in juypter, you dont have to enter whole address.
fh=open("python file handling.txt")
print(fh.read())

hey world!
this is to apply file handling in python using jupyter

In [7]:
# write in file
number = input("enter your number: ")
fh = open("pythonfh.txt", "w")
fh.write(number)

enter your number:  55

2

In [9]:
# read the file 
f = open("pythonfh.txt")
print(f.read())

27

In [21]:
#  how to import module from library
# import os 
# os.remove("pythonread.txt")
# it is giving error

30 july Exception handling

In [5]:
# EXCEPTION HANDLING
# Type of error: 1) compile time error, 2) run time error, 3) syntax error
# try, except, finally, else

In [11]:
# for exception handling we have to use try, except, finally and else keyword.

In [17]:
try:
    print(a)
except:
    print("an error will occured")

10

In [15]:
# add 2 number with exception handling
try:
    a=10
    b=3
    print(f"sum is {a+b}")
except:
    print("an error will occured")

sum is 13

In [29]:
# exception handling 
try:
    username = input("enter your username: ")
    password = input("enter your password: ")
    print(f"your username is {username} and your password is {password}")
except:
    print("an error will occured")
finally:
    ("try and except have done their work")

enter your username:  asd
enter your password:  das

your username is asd and your password is das

In [23]:
# user defined add with exception handling
try:
    n1 = int(input("enter first number: "))
    n2 = int(input("enter second number: "))
    print(f"sum of {n1} and {n2} is {n1+n2}")
except:
    print("an error will occured")
finally:
    print("try and except has done their work")

enter first number:  5
enter second number:  7

sum of 5 and 7 is 12
try and except has done their work

In [26]:
# funtion with exception handling
try:
    def add():
        print(2+4)
    def sub():
        print(4-2)

    def multi():
        print(4*3)

    def divi():
        print(14/3)

# call all the function
    add()
    sub()
    multi()
    divi()

except:
    print("ERROR. something is wrong")
finally:
    print("try and except have done")

6
2
12
4.666666666666667
try and except have done

In [8]:
# user defiend function with exception handlng
try:
    def add():
        n1 = int(input("enter first number: "))
        n2 = int(input("enter second number: "))
        print(f"sum of {n1} and {n2} is {n1+n2}")

    def sub():
        n1 = int(input("enter first number: "))
        n2 = int(input("enter second number: "))
        print(f"sub of {n1} and {n2} is {n1-n2}")

    add()
    sub()

except:
    print("error, something is wrong")
finally:
    print("try and except have done their work")

enter first number:  3
enter second number:  4

sum of 3 and 4 is 7

enter first number:  6
enter second number:  h

error, something is wrong
try and except have done their work

In [32]:
try:
    str= input("enter your string: ")
    print(f"after using upper():",str.upper())
    print(f"after using lower():",str.lower())
    print(f"is your string upper():",str.isupper())
    print(f"is your string lower():",str.islower())
    print(f"is your string title(): ",str.istitle())
    print(str.casefold())
except:
    print("error")
else:
    print("no error")
finally:
    print("programm done")

enter your string:  abhishek

after using upper(): ABHISHEK
after using lower(): abhishek
is your string upper(): False
is your string lower(): True
is your string title():  False
abhishek
no error
programm done

In [37]:
# exception handling using logical operator
try:
    name = input("enter your name: ")
    password = input("enter your password: ")
    if (name == "abhishek" and password == "asd"):
        print("you can login")
    else:
        print("wrong name or password. you cant login")
except:
    print("error")
else:
    print("no error")
finally:
    print("programm complete")

enter your name:  asdfg
enter your password:  d

wrong name or password. you cant login
no error
programm complete

In [38]:
# exception handling using logical operator
try:
    name = input("enter your name: ")
    password = input("enter your password: ")
    if (name == "abhishek" or password == "asd"):
        print("you can login")
    else:
        print("wrong name or password. you cant login")
except:
    print("error")
else:
    print("no error")
finally:
    print("programm complete")

enter your name:  abhishek
enter your password:  ewr

you can login
no error
programm complete

In [44]:
try:
    fh = open("file handling.txt")
    print(fh.read())
except:
    print("error")
finally:
    print("program done")

77
program done

In [45]:
# nested if else with exception handling
try:
    num = int(input("enter your number: "))
    if num<0:
        print("its a negative number")
    elif (num>0):
        print("your number is a positive number")
    else:
        print("your number is zero")

except:
    print("error")
finally:
    print("programm done")

enter your number:  4

your number is a positive number
programm done

In [47]:
# loop with exception handling
try:
    for i in range(5):
        print(i)
except:
    print("error")
else:
    print("no error")
finally:
    print("project complete")

0
1
2
3
4
no error
project complete

In [2]:
# 5 august. raise exception. we use raise to throw exception when certain condition occur.
try:
    age = int(input("enter your age: "))
    if age<18:
        raise Exception;
    else:
        print('age is valid')
except exception:
    print('age not valid')

enter your age:  24

age is valid

In [9]:
# raise keyword done by chatgpt
try:
    age = int(input("Enter your age: "))
    if age < 18:
        raise Exception("Age not valid")
    else:
        print("Age is valid")
except Exception as e:
    print(e)

Enter your age:  32

Age is valid

In [20]:
# assert statement. if condition is not satisfied assert stop the program and geive assetion error alonsg with the error message.
x = int(input('enter x: '))
y = int(input('enter y: '))
assert y!=0,'divide by 0 error'

# it uses assert to check for 0
print('x/y value is: ',x/y)
# assert y!=0,'divide by 0 error'

enter x:  4
enter y:  0

AssertionError: divide by 0 error

In [24]:
# lambda function is anonymous function. it can take any number of arguments, but can only have 1 expression
# add 5 to argument a, and return the result
x = lambda a:a + 5     # '+' is a expression here
print(x(8))

13

In [32]:
# lambda function
x = lambda a, b, c:a + b + c   # it will only take '+' because it only take 1 expression
print(x(5,3,7))

15

In [31]:
# lambda function with def()
def abhi(n):
    return lambda a:a * n
mine = abhi(3)   # 3 is going to n
print(mine(10))
# print(mine(4))

30

In [3]:
# Lambda function with a different expression
x = lambda a, b, c: a + b - c  # The expression includes both addition and subtraction

print(x(5, 3, 2))  # Output will be 6

6

In [16]:
print("this is just so that current cell remains on top of screen, not at bottom of screen")

this is just so that current cell remains on top of screen, not at bottom of screen